body{
    padding: 0;
    margin: 0;
    font-family: $font-website;
    font-size: $fz-website ;
    color: $color-font;
    // line-height: $line-height;
    background: $bg-color;
}
iframe{max-width: 100%}
a{
    color: $color-1;
    padding: 0 0.5em;
}
/* -----------------------------------------------+
    + General style icons
    +
    +---------------------------------------------+*/
 [class*="icon-"]{
     &:before{
        position: relative;
        top: 2px;
        margin-right: 0.4rem;
        font-size: 1.1em;
     }
     &:hover,
     &:active{
         text-decoration: none;
     }
 }




/* -----------------------------------------------+
    + General style Title in website
    +
    +---------------------------------------------+*/
    h1,h2,h3{
        color: $color-1;
    }



/* -----------------------------------------------+
    + General style forms
    +
    +---------------------------------------------+*/
input,
textarea{
    font-size: 0.9rem;
    line-height: 2.4rem;
    padding: 0 1rem;
    border-radius: 2px;
    border: 1px solid $white_darck;
    color: darken($color-2,10);
    font-family: $font-website;
    background: $white;
    &:focus,
    &:hover,
    &:active{
        outline: $white_darck;
        background: $white;
    }
}
textarea{
    line-height: 1rem;
    padding: 1rem;
}
[type="submit"]{
    color: darken($gray,10);
    cursor: pointer;
    padding: 0 2rem;
    &:hover,
    &:active{
        background: $color-1;
        color: $white-darck;
    }
}



/* -----------------------------------------------+
    + General buttoms defaults
    +
    +---------------------------------------------+*/
.btn{
    background: lighten($gray-light,20);
    color: $gray;
    line-height: 2.5em;
    display: inline-block;
    border-radius: 5px;
    padding: 0 1rem;
    &:hover,
    &:active{
        background: $color-1;
        color: $white_darck;
        text-decoration: none;
    }
}



/* -----------------------------------------------+
    + General styles autor website
    +
    +---------------------------------------------+*/
.developer-autor{
    width: 100%;
    display: flex;
    @include flexCenter;
    p{
        margin: 0;
        padding: 0;
        text-align: center;
        color: darken(#19C1F8,30);
        font-size: 0.7rem;
        text-transform: capitalize;
    }
    a{
        padding: 0;
        margin: 0;
        &:hover{
            color: darken(#19C1F8,5);
        }
    }
    @include from(m){
        position: absolute;
        width: auto;
        bottom: .2rem;
        right: .2rem;
        p{text-align: right;}
        // outline: 1px solid red;
    }
}