#slider{
    padding: 0;
    margin: 0;
    position: relative;
    .slick-dots{
        $dots-size: 18px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex !important;
        button{
            background: $white_darck;
            border: 2px solid $color-1;
            border-radius: 100%;
            width: $dots-size;
            height: $dots-size;
            margin: 0 0.4rem;
            &:focus{
                outline: none;
            }
        }
    }
    .slick-active{
        button{
            background: $color-1;
        }
    }
}
.slick-arrow{
    // display: none !important;
}