/*
    ===============================
            LAYOUT
    ===============================
*/
.contact{
    max-width: $max-width;
    margin: auto;
    &__header{
        max-width: $max-width;
        margin: auto;
    }
}
.contact-container{
    padding: 3rem 1rem;
}
.contact{
    display: flex;
    justify-content: space-around;
    // &__form{
    //     margin: 0 auto;
    // }
}
/*
    ===============================
            GENERAL STYLES
    ===============================
*/
.contact-container{
    color: $white_darck;
    background: linear-gradient(45deg, $color-2 50%, darken($color-2,2) 50%);
    a{
        color: inherit;
    }
}

/*
    ===============================
            DECORATION STYLES
    ===============================
*/

.contact{
    &__header{
        width: 100%;
        &__title,
        &__subtitle{
            text-align: center;
            margin: 0;
        }
        &__title{
            text-transform: uppercase;
            font-size: 2rem;
        }
        padding-bottom: 2rem;
    }
}

// Contact Form ============================
.contact{
    &__form{
        .input-container,
        .input-message,
        .input-send{
            margin: 0.8rem;
            border-radius: 2px;
        }

        .input-container,
        .input-message{
            display: flex;
            align-items: center;
            background: linear-gradient(90deg, $white_darck 50px,transparent 50px);
            p{
                margin: 0;
            }
            [class*="icon-"]:before{
                color: $color-2;
                margin: 1rem .5rem;
            }
        }
        .input-message{
            span,
            input,
            textarea{
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}

// Style Validations
.contact__form{
    input + span,
    textarea + span{
            background: $white_darck;
    }
    .wpcf7-mail-sent-ng,
    .wpcf7-validation-errors{
        border: none;
        background: rgba($white,.1);
        padding: 1rem;
        color: $white_darck;
    }
    .wpcf7-mail-sent-ng{
        border-left: 4px solid $error-color;
    }
    .wpcf7-validation-errors{
        border-left: 4px solid $alert-color;
    }
}



// Contact Articles
.contact{
    article{
        h3{
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}
/* Styles social media */
.socialMedia{
    &__list{
        display: flex;
        justify-content: flex-start;
        font-size: 1rem;
        a{
            position: relative;
            display: block;
            width: 2rem;
            height: 2rem;
            margin: 0.5rem;
            &::after{
                @include beforeAfter();
                background: $white_darck;
                border-radius: 100%;
            }
            &::before{
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-12%,-50%);
                transition: .4s all;
            }
            &:hover{
                &::before{
                    color: $white_darck;
                }
            }
        }

        .icon-facebook::before{color: #4E71A8;}
        .icon-youtube::before{color: #CA3737;}
        .icon-linkedin::before{color: #225982;}
        .icon-twitter::before{color: #40CBF9;}

        .icon-facebook:hover::after{background: #4E71A8;}
        .icon-youtube:hover::after{background: #CA3737;}
        .icon-linkedin:hover::after{background: #225982;}
        .icon-twitter:hover::after{background: #40CBF9;}
    }
}
/* Styles Ubiquenos */
// .contact{
//     .location{
//         display: flex;
//         flex-direction: column;
//         [class*="icon-"]::before{margin-right: 0.4rem}
//         .viewMap{
//             display: block;
//             align-self: flex-end;
//         }
//     }
// }
/* Styles lo estamos escuchando */
// .contact{
//     .escuchar{
//         [class*="icon-"]::before{margin-right: 0.4rem}
//         display: flex;
//         flex-wrap: wrap;
//         &__title{
//             width: 100%;
//         }
//         a{color: $color-2;}
//         .icon-mail{padding-left: 1.5rem;}
//     }
// }