.post{
  &__edit{
    a{
      padding: 1rem;
      display: block;
    }
  }
  &__navigation{
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.main__item{
  .error404{
      @include edContainer();

      padding: 1rem;
      background: $white;
      border-left: 3px solid $error-color;
  }
}

.slick-arrow{
    position: absolute;
    z-index: 10;
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    background: rgba($gray_darck,0.1);
    border: none;
    color: $color-1;
    border-radius: 100%;
    &:before{
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &:hover,
    &:active{
        background: $color-1;
        color: $white;
    }
    &:active{
        transform: translateX(-50%) scale(0.95);
    }
    &:focus{
        outline: none;
    }
}