.header{
	background: $color-1;
	&__item{
		&:nth-child(2){
			background: $white;
		}
	}
	&__item{
		&__content{
			max-width: $max-width;
			margin: 0 auto;
			align-items: center;
			justify-content: space-between;
			padding: 0 1rem;
			@include from(l){
				display: flex;
			}
		}
	}

	/* ----------------- End  Leyaut Andgeneral styles ---------------- */
	&__contact{
		display: flex;
		width: 100%;
		justify-content: flex-end;
		a,span{
			color: $white_darck;
			line-height: 2.2rem;
		}
		.email{
			@include to(m){
				display: none;
			}
		}
	}

	/* ----------- Estyles Logo ------------- */
	object{display: block;}
	&__logo{
		width: 25rem;
		max-width: 100%;
		@include to(l){
			margin: auto;
		}
	}
}
