.menu-nav__container{
    @include to(l){
        width: 100%;
    }
}
.main-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    a{
        padding: 0 0 0 15px;
        line-height: 2.5rem;
        display: block;
        &:hover,
        &:active{
            background: $color-1;
            color: $white_darck;
            text-decoration: none;
        }
    }
    ul{
        list-style: none;
        padding: 0;
    }
}
/* ------------------------------------------------------ */
//.header{
//    .menuShowContent{
//        max-height: 1000px;
//    }
//}




/* =============== toggle Menu =================*/
#toggleMenu{
    $colorToggle: lighten($gray,10);
    cursor: pointer;
    height: 2.2rem;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0.1rem;
        background: $colorToggle;
        right: 1rem;
        top: 50%;
        transform: translateY(-9px);
        box-shadow: 0 8px $colorToggle,
                    0 16px $colorToggle;
    }
    @include from(l){
        display: none;
    }
}